.posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: calc(25% - 40px);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

    img {
        width: 100%;
    }

    .body {
        white-space: pre-wrap;
    }
}